.app {
  background-color: var(--app-bg);
  height: 100vh;
  width: 100%;
  color: var(--text-color);
}

.attribution {
  font-size: 0.4rem;
}

.calc {
  max-width: 540px;

  margin: 0 auto;
  padding: 0 10px;
  margin: auto;
  padding-top: 85px;
  padding-bottom: 85px;
}

/* --------  HEADER ----------- */
.calc__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.calc__header-title {
  color: var(--screen-font-color);
  font-weight: bold;
  margin: 0;
}

/* Toggle theme */
.toggle-theme {
  align-items: center;
  color: var(--screen-font-color);
  display: flex;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.toggle-theme__title {
  font-size: 10px;
  margin-right: 0.5rem;
  padding-top: 15px;
}

.toggle-theme__control:hover {
  opacity: 0.8;
}

.toggle-theme__label {
  display: flex;
  font-size: 10px;
  font-weight: bold;
  justify-content: space-between;
}

.toggle-theme__label label {
  width: 33.33%;
  cursor: pointer;
}

.toggle-theme__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--keypad-bg);
  border-radius: 30px;
  border: solid 1px transparent;
  color: var(--screen-font-color);
  font-size: 0.4rem;
  height: 24px;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 70px;
  padding: 0 3px;
}

.toggle-theme__input {
  position: relative;
}

.toggle-theme__input input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.toggle-theme__input-control {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.toggle-theme__input input:checked + .toggle-theme__input-control {
  display: block;
  background-color: var(--key-highlight-bg);
}

/* --------  SCREEN ----------- */
.calc__screen {
  align-items: center;
  background-color: var(--screen-bg);
  border-radius: var(--border-radius);
  color: var(--screen-font-color);
  display: flex;
  align-items: center;
  font-size: var(--screen-font-size);
  font-weight: bold;
  height: var(--screen-height);
  justify-content: flex-end;
  padding: 0 0.5rem;
  position: relative;
}

.calc__screen-operation {
  font-size: 0.5rem;
  position: absolute;
  bottom: 10px;
  color: var(--key-primary-shadow);
}

.calc__screen-result {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* --------  KEYPAD ----------- */
.calc__keypad {
  background-color: var(--keypad-bg);
  border-radius: var(--border-radius);
  margin: var(--keypd-margin-y) 0;
  padding: var(--keypad-padding);
}

.calc__keypad-row {
  display: flex;
  justify-content: space-between;
}

.calc__keypad-row + .calc__keypad-row {
  margin-top: var(--keypad-row-margin);
}

/* --------  BUTTONS ----------- */
.cacl__button {
  background-color: var(--key-bg);
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--button-shadow);
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: 700;
  height: var(--button-height);
  text-transform: uppercase;
  user-select: none;
  width: var(--button-width);
  padding: 0;
}

.cacl__button:active,
.cacl__button.active {
  box-shadow: var(--button-shadow-active);
  transform: translateY(2px);
  opacity: 0.8;
}
.cacl__button:hover {
  opacity: 0.8;
}

.cacl__button-number {
  font-size: var(--button-number-font-size);
}

.cacl__button + .cacl__button {
  margin-left: var(--bitton-margin);
}

/* Primary button (Reset - Del) */
.cacl__button--primary {
  background-color: var(--key-primary-bg);
  box-shadow: 0 5px 0 0 var(--key-primary-shadow);
  color: white;
}

.cacl__button--primary:active,
.cacl__button--primary.active {
  box-shadow: var(--button-primary-shadow-active);
}

/* Highlight button ( = ) */
.cacl__button--highlight {
  background-color: var(--key-highlight-bg);
  box-shadow: 0 5px 0 0 var(--key-highlight-shadow);
  color: white;
}

.cacl__button--highlight:active,
.cacl__button--highlight.active {
  box-shadow: var(--button-highlight-shadow-active);
}

.cacl__button-half {
  width: 50%;
}
